* {
  margin: 0;
  padding: 0;
  box-sizing: border-box
}

hmtl,
body {
  height: 100%;
  width: 100%;
  background-color: black;
  color: white;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.cell {
  transition: background-color 0.3s ease-in-out;
}